In [5]:
import pandas as pd
import numpy as np

In [6]:
# Specify the columns you need here
cem_col = {"albums": [],
           "artists": [],
           "songs": []}
marlize_col = {"albums": ["_id", "id_artist", "genre", "publicationDate"],
               "artists": ["_id", "location"],
               "songs": ["id_album", "award"]}
joris_col = {"albums": ["_id", "id_artist"],
             "artists": ["_id", "type", "gender", "members"],
             "songs": ["id_album", "genre"]}
ppl_col = [cem_col, marlize_col, joris_col]

# get unique values of columns needed
albums_col = list(set(np.concatenate([d["albums"] for d in ppl_col])))
artists_col = list(set(np.concatenate([d["artists"] for d in ppl_col])))
songs_col = list(set(np.concatenate([d["songs"] for d in ppl_col])))

# assuming the data folders are in your local folder
data_albums = pd.read_csv("wasabi_albums.csv/wasabi_albums.csv", usecols=albums_col)
data_artists = pd.read_csv("wasabi_artists.csv/wasabi_artists.csv", usecols=artists_col)
data_songs = pd.read_csv("wasabi_songs.csv/wasabi_songs.csv", sep="\t", usecols=songs_col)

In [22]:
display("albums", data_albums.head())
display("artists", data_artists.head())
display("songs", data_songs.head())

'albums'

,_id,genre,id_artist,publicationDate
0,ObjectId(5714debb25ac0d8aee34d59a),Alternative Rock,ObjectId(56d7e91b6b60c09814f93e4a),1997
1,ObjectId(5714debb25ac0d8aee34d59b),Alternative Rock,ObjectId(56d7e91b6b60c09814f93e4a),1999
2,ObjectId(5714debb25ac0d8aee34d59c),Alternative Rock,ObjectId(56d7e91b6b60c09814f93e4a),2002
3,ObjectId(5714debb25ac0d8aee34d59d),Alternative Rock,ObjectId(56d7e91b6b60c09814f93e4a),2005
4,ObjectId(5714debb25ac0d8aee34d59e),NaN,ObjectId(56d7e91b6b60c09814f93e4a),NaN

'artists'

,_id,gender,location,members,type
0,ObjectId(56d7e91b6b60c09814f93e4a),NaN,"{""id_city_musicbrainz"":""6e2d2d30-dbc9-4d27-99f...","[{""id_member_musicbrainz"":""3ec05e94-bf6e-439f-...",Group
1,ObjectId(56d7e91c6b60c09814f93e4c),NaN,"{""id_city_musicbrainz"":"""",""country"":""Japan"",""c...","[{""id_member_musicbrainz"":""82bd3da4-7085-40b8-...",Group
2,ObjectId(56d7e91d6b60c09814f93e4e),NaN,"{""id_city_musicbrainz"":"""",""country"":""Netherlan...","[{""id_member_musicbrainz"":""2931cbb9-56a0-4a96-...",Group
3,ObjectId(56d7e91e6b60c09814f93e50),NaN,"{""id_city_musicbrainz"":"""",""country"":"""",""city"":""""}",[],NaN
4,ObjectId(56d7e91e6b60c09814f93e52),NaN,"{""id_city_musicbrainz"":"""",""country"":""United St...","[{""id_member_musicbrainz"":""2f647f4c-6272-4ad9-...",Group

'songs'

  award genre                            id_album
0   NaN   NaN  ObjectId(5714debb25ac0d8aee34d59a)
1   NaN   NaN  ObjectId(5714debb25ac0d8aee34d59a)
2   NaN   NaN  ObjectId(5714debb25ac0d8aee34d59a)
3   NaN   NaN  ObjectId(5714debb25ac0d8aee34d59a)
4   NaN   NaN  ObjectId(5714debb25ac0d8aee34d59a)