**Questions:**
- Should flow go
    - is_band $\to$ nb_albums, or
    - is_band $\to$ unknown_gender $\to$ nb_albums?
-

In [163]:
import pandas as pd
import numpy as np
import load_data as ld
import sankey as sk

import importlib
importlib.reload(sk)
importlib.reload(ld)

In [164]:
# try:
#     display(LoadData.albums_data.head(2))
# except AttributeError:
#     LoadData.load_albums_data()
#     display(LoadData.albums_data.head(2))

# try:
#     display(LoadData.artists_data.head(2))
# except AttributeError:
#     LoadData.load_artists_data()
#     display(LoadData.artists_data.head(2))

# try:
#     display(LoadData.songs_data.head(2))
# except AttributeError:
#     LoadData.load_songs_data()
#     display(LoadData.songs_data.head(2))

# Type $\to$ gender

In [165]:
load_data = ld.LoadData()
sankey_diag = sk.Sankey()
type_gender = sk.TypeGender(load_data)
display(type_gender.df_sankey)
display(sankey_diag.df_sankey)
sankey_diag.append_to_df(type_gender.df_sankey)
display(sankey_diag.df_sankey)

            type          gender  value
0      Character          Female      4
1      Character            Male     15
2      Character  unknown_gender      6
3          Choir  unknown_gender     44
4          Group  unknown_gender  29806
5      Orchestra  unknown_gender     30
6   unknown_type          Female      3
7   unknown_type            Male      1
8   unknown_type  unknown_gender     17
9         Person          Female   5867
10        Person            Male  14281
11        Person  unknown_gender      8
12        Person  unknown_gender   4108
13  unknown_type          Female      7
14  unknown_type            Male     12
15  unknown_type  unknown_gender  23283

Empty DataFrame
Columns: [source, target, value]
Index: []

          source          target  value
0      Character          Female      4
1      Character            Male     15
2      Character  unknown_gender      6
3          Choir  unknown_gender     44
4          Group  unknown_gender  29806
5      Orchestra  unknown_gender     30
6   unknown_type          Female      3
7   unknown_type            Male      1
8   unknown_type  unknown_gender     17
9         Person          Female   5867
10        Person            Male  14281
11        Person  unknown_gender      8
12        Person  unknown_gender   4108
13  unknown_type          Female      7
14  unknown_type            Male     12
15  unknown_type  unknown_gender  23283

# Gender $\to$ nb_albums

In [166]:
# gender_nb_albums.df_albums

In [167]:
gender_nb_albums = sk.GenderNbAlbums(load_data)
sankey_diag.append_to_df(gender_nb_albums.df_sankey)

In [168]:
sankey_diag.write_csv()
sankey_diag.df_sankey

            source          target  value
0        Character          Female      4
1        Character            Male     15
2        Character  unknown_gender      6
3            Choir  unknown_gender     44
4            Group  unknown_gender  29806
5        Orchestra  unknown_gender     30
6     unknown_type          Female      3
7     unknown_type            Male      1
8     unknown_type  unknown_gender     17
9           Person          Female   5867
10          Person            Male  14281
11          Person  unknown_gender      8
12          Person  unknown_gender   4108
13    unknown_type          Female      7
14    unknown_type            Male     12
15    unknown_type  unknown_gender  23283
0           Female         1 album   2990
20  unknown_gender         1 album  37806
10            Male         1 album   8090
1           Female        2 albums    768
21  unknown_gender        2 albums   5915
11            Male        2 albums   1648
2           Female        3 albums    515
22  unknown_gender        3 albums   3765
12            Male        3 albums    973
3           Female        4 albums    326
23  unknown_gender        4 albums   2506
13            Male        4 albums    653
24  unknown_gender        5 albums   1736
14            Male        5 albums    505
4           Female        5 albums    253
15            Male        6 albums    409
5           Female        6 albums    173
25  unknown_gender        6 albums   1279
16            Male        7 albums    338
6           Female        7 albums    150
26  unknown_gender        7 albums    930
17            Male        8 albums    224
7           Female        8 albums    119
27  unknown_gender        8 albums    711
28  unknown_gender        9 albums    551
18            Male        9 albums    208
8           Female        9 albums     93
19            Male      10+ albums   1261
9           Female      10+ albums    494
29  unknown_gender      10+ albums   2103

# Nb albums $\to$ nb songs

In [ ]:
df_songs = (songs_data
      .copy()
      [["id_album"]])

# add ObjectIt to cells missing it
df_songs["id_album"] = [element if element.startswith(
    "ObjectId(") else "ObjectId("+element+")" for element in df_songs["id_album"]]
pd.DataFrame(df_songs.value_counts()).reset_index()